* {
    margin-top: 0;
}

body {
    font-family: sans-serif;
    color: #444;
    font-size: 14px;
    line-height: 1.1;
}

h1, h2, h3 {
    color: #222222;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error_msg {
    background-color: red;
    color: white;
    width: 300px;
}

.ok_msg {
    background-color: green;
    color: white;
    width: 300px;
}

.nav {
    margin-bottom: 10px;
}

.btn {
    background-color: #00f;
    color: #fff;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50px;
}

.btn:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 255, 0.75);
    /* alapból nem pointer, azaz kéz */
    cursor: pointer;
}

.delete_btn {
    background-color: #f00;
    color: #fff;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50px;
}

.delete_btn:hover {
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.75);
}

.nav_btn {
    background-color: #aaa;
    color: #333;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0px;
}

.nav_btn:hover {
    text-decoration: none;
    background-color: #ddd;
}

.list td {
    padding: 5px;
}